* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
}

.under-header {
    margin-top: 56px;
    justify-content: center;
    position: relative;
}

.central-box {
    width: 80%;
    justify-content: center;
    max-width: 440px;
    margin: 40px;
}

.description-input {
    width: 100%;
}

@media (min-width: 600px){
    .under-header {
        margin-top: 64px;
    }
}