* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
}

.App {
}

.under-header {
    margin-top: 86px;
    position: relative;
    padding: 0 24px 0 24px;
}

.central-box {
}

.description-input {
    width: 100%;
}

.my-card{
    padding: 8px;
    margin: 8px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 100%;
    width: 100%;
    text-align: start;
}

.my-card-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;

    &:after {
        content: "";
        flex: auto;
      }
}

.css-46bh2p-MuiCardContent-root:last-child{
    padding-bottom: 16px;
}

.my-card-button{
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-container{
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .my-card{
        flex: 0 0 calc(50% - 16px);
        max-width: calc(50% - 16px);
        width: 100%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .my-card{
        flex: 0 0 calc(33.33% - 16px);
        max-width: calc(33.33% - 16px);
        width: 100%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
    .my-card{
        flex: 0 0 calc(25% - 16px);
        max-width: calc(25% - 16px);
        width: 100%;
    } 

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .my-card{
        flex: 0 0 calc(20% - 16px);
        max-width: calc(20% - 16px);
        width: 100%;
    }

}